.DS_Store
*.pyc

*.pth
*.png
subset*.txt
Cantilever/ansys_script_train.lgw
Cantilever/ansys_script_test.lgw
Cantilever/Train Labels
Cantilever/Test Labels
Cantilever/Train Labels 3D
Cantilever/Test Labels 3D
Cantilever/Results
DED/*

aclImdb
aclImdb_v1.tar.gz
Practice/test.png